{% extends 'index.html' %}

{% block content %}
    <div class="container relative">
        <div class=" bg-[url('/static/img/img2.jpg')] flex flex-col items-center justify-center w-screen h-screen  bg-cover bg-no-repeat blur-lg">
            
        </div>
        <div class="absolute text-2xl top-0 font-oswad">
            HOME
        </div>
        <div class="bg-white bg-orange-400- w-1/4   rounded-3xl flex flex-col justify-between  px-5 absolute top-1/4 left-2/4">
            
            <h1 class="text-center text-2xl  font-itali text-orange-600 my-10 animate-bounce ">TASK</h1>
       
          <div class="flex flex-col justify-around">


                <form method="POST" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    
                    <div>

                        {{form.task_name.label(class='block  text-lg font-medium text-gray-600')}}
                        {{form.task_name(class='bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5')}}
                    </div>

                    <div>
                        {{form.taskDomain.label(class='block mt-5 text-lg font-medium text-gray-600')}}
                        {{form.taskDomain(class='text-xl rounded-xl p-6 w-full')}}
                    </div>
                    <div >


                        {{form.fileInput.label(class='block mt-5  text-lg font-medium text-black')}}
                        {{form.fileInput(class='text-xl mb-5 rounded-lg w-full')}}
                    </div>
                   
                    <div class="mt-5">

                        {{form.desired_output.label(class='inline mt-9  text-lg font-medium text-black')}}
                        {{form.desired_output}}
                    </div>
                    <div >
                        {{form.gpu.label(class=' mt-5  text-xl font-medium text-black')}}
                        {{form.gpu}}
                    </div>

                    <div>
                        
                        {{form.submit(class='bg-orange-600 p-2 w-3 rounded-lg text-lg mt-6 text-white font-bold')}}
                    </div>
                </form>
            </div>
        </div>

    </div>
    
    
{% endblock content %}